html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  color: #111111;
  margin: 10%;
}

/* header - menu */
.header__title {
  padding-left: 0px;
  font-size: 28px;
  font: "Roboto", sans-serif;
  text-transform: lowercase;
}

/*justify-content: space-between;
  align-items: baseline;
}*/
/* .menu__checkbox:checked + label {
  color: $primary-color;
} */
.svg__icon {
  width: 20px;
  height: auto;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
}

.menu__list--main {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #999999;
}

.menu__checkbox:checked ~ .menu__list--main {
  display: block;
  z-index: 2;
  position: fixed;
}

.menu__link--main {
  display: block;
  padding: 15px 150px 15px 20px;
  text-decoration: none;
  color: #111111;
  background-color: whitesmoke;
  text-transform: uppercase;
}

.menu__link--main:hover {
  background-color: whitesmoke;
  font-size: larger;
}

.menu__item--main {
  border-bottom: 1px solid whitesmoke;
}

/* menu extra  */
.menu--extra {
  padding: 0;
  margin-left: 0;
}

.menu__list--extra {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  flex-basis: 1 1 auto;
  padding-left: 0;
}

.menu__item--extra {
  text-decoration: none;
  list-style-type: none;
  color: whitesmoke;
  background-image: url(/images/background-images/image01.jpg);
  background-repeat: no-repeat;
  margin: 20px 0;
  border-radius: 2px;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
}

.menu__link--extra {
  color: whitesmoke;
  text-decoration: none;
}

a.menu__link--extra:link {
  text-decoration: none;
}

.menu__item--extra {
  text-align: left;
  padding-left: 20px;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
}

h2,
.menu__toggler {
  color: #111111;
  font-size: 22px;
}

.footer__back-to-top {
  font-size: small;
  color: #999999;
}

.fa {
  color: #999999;
  text-decoration: none;
}

a.fa:hover {
  font-size: 38px;
  color: #111111;
}

.footer__social {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.footer__copy {
  font-size: small;
  text-align: center;
  padding: 20px;
}

/* gallery family */
/* JAVA SCRIPT */
.row {
  /* IE 10 */
  display: flex;
  /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  /* IE 10 */
  flex: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-evenly;
}

//.gallery__item {

//}

.gallery__item--family02 {
  grid-row: 1 / span 2;
}

.gallery__item--family04 {
  grid-row: 1 / span 2;
}
*/
/* section About */
.section__about {
  display: flex;
  flex-direction: column;
}

.section__about--image {
  width: 100%;
}

.section__about--text {
  width: 100%;
}

/* section contact */
.gmap_canvas {
  width: 100%;
  padding: 0;
  margin-left: 0;
  text-align: left;
}

/* TABLET VERSION */
@media screen and (min-width: 800px) {
  /* header - menu */
  .svg__icon {
    display: none;
  }

  .menu__list--main {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: white;
  }

  .menu__link--main {
    background-color: white;
    border-bottom: 1.5px solid whitesmoke;
  }

  .menu__link--main:hover {
    border-radius: 10px;
    border-bottom: 0;
  }

  /* section About */
  .section__about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section__about--image {
    width: 50%;
    margin-top: 40px;
  }

  .section__about--text {
    width: 50%;
  }

  .img__profile {
    width: 100%;
    padding: 20px 20px 20px 0;
  }

  .about__text {
    margin: 40px;
    padding: 20px 20px 20px 0;
  }

  /* gallery family */
  /* JAVA SCRIPT */
  .row {
    /* IE 10 */
    display: flex;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
}/*# sourceMappingURL=style.css.map */