$primary-color: #111111;
$secondary-color: #999999;
$font-size-text: 16px;
$font: 'Source Sans Pro', sans-serif;
$text-transform: uppercase;
$background-color:#F2F5F8;



html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
  font-size: $font-size-text;
  font-family: $font;
  color: $primary-color;
}

//header - menu
.menu--main {
  color: $secondary-color;
}
.menu__list--main {
  display: flex;
  justify-content: space-evenly;
}

//.menu__item--main {
  .button__menu--main {
  list-style-type: none;
  text-transform: $text-transform;
  color: $primary-color;
}

a:link {
  text-decoration:none;
}

//end of header - menu

h1,
h2 {
  color: $primary-color;
  text-transform: $text-transform;
  font-size: 34px;
}


.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}







