$primary-color: #111111;
$secondary-color: #999999;
$font-size-text: 18px;
$font: 'Source Sans Pro', 'Roboto', sans-serif;
$text-transform: uppercase;
$background-color: whitesmoke;



html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
  font-size: $font-size-text;
  font-family: $font;
  color: $primary-color;
  margin: 10%;
}

/* header - menu */

.section__header {
  //display: flex;
  //justify-content: space-between;
  //align-items:baseline;
  //flex-direction: row-reverse;
}

.header__title {
  padding-left: 0px;
  font-size: 28px;
  font: 'Roboto', sans-serif;
  text-transform: lowercase;
}
  /*justify-content: space-between;
  align-items: baseline;
}*/

//checkbox - hamburger menu

/* .menu__checkbox:checked + label {
  color: $primary-color;
} */

.svg__icon {
  width: 20px;
  height: auto;
}

.menu__checkbox {
  //display:none;
  position:absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
}

.menu__list--main {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $secondary-color;
}

.menu__checkbox:checked ~ .menu__list--main {
  display: block;
  z-index: 2;
  position: fixed;
}

.menu__link--main {
  display:block;
  padding: 15px 150px 15px 20px;
  text-decoration: none;
  color: $primary-color;
  background-color: $background-color;
  text-transform: uppercase;
}

.menu__link--main:hover {
  background-color: #dbd8d8;
}

.menu__item--main {
  border-bottom: 1px solid $background-color;
}

/* menu extra  */

.menu--extra {
  padding: 0;
  margin-left: 0;
}

.menu__list--extra {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  flex-basis: 1 1 auto;
  padding-left: 0;
}

.menu__item--extra {
  text-decoration: none;
  list-style-type: none;
  color: $background-color;
  background-image: url(/images/background-images/image01.jpg);
  background-repeat: no-repeat;
  margin: 20px 0;
  border-radius: 2px;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
}

.menu__link--extra {
  color: $background-color;
  text-decoration: none;
}

a.menu__link--extra:link { text-decoration: none; }

.menu__item--extra {
  text-align: left;
  padding-left: 20px;
}


h1 {
  font-size: 28px;
  text-transform: $text-transform;
}
h2,
.menu__toggler {
  color: $primary-color;
  //text-transform: $text-transform;
  font-size: 22px;
}

//end of header - menu

// footer

.footer__back-to-top {
  font-size: small;
  color: $secondary-color;
}


.fa {
  color: $secondary-color;
  text-decoration: none;
}

a.fa:hover {
  font-size: 38px;
  color: $primary-color;
}

.footer__social {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.footer__copy {
  font-size: small;
  text-align: center;
  padding: 20px;
}

//gallery
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0px;
}

.gallery__item {
  width: 100%;
}



//end of gallery

/* section About */

.section__about {
  display: flex;
  flex-direction:column;
}

.section__about--image {
  width: 100%;
}

.section__about--text {
  width: 100%;
}


//end of the section About

/* TABLET VERSION */

@media screen and (min-width: 800px) {

/* header - menu */

.svg__icon {
  display: none;
}

.menu__list--main {
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: whitesmoke;
}


/* section About */

.section__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section__about--image {
  width: 50%;
}

.section__about--text {
  width: 50%;
}




}







