<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paulina Skytova Photography</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300;400;500&family=Nunito:wght@400;700&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300;400;500&family=Nunito:wght@400;700&family=Open+Sans:wght@300&family=Raleway:wght@100&family=Roboto:ital,wght@0,400;0,500;1,100;1,300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head> 
<body>
<header class="header">

  <section class="section__header">
    <div class="header__title--flex">
      <h1 class="header__title">paulinesky_pics</h1>
    </div>

    <div class="header__menu--flex">

        <nav class="menu__hamburger">

          <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

          <label for="menu-checkbox" class="menu__toggler"><svg class="svg__icon" width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="34" height="34" fill="white" fill-opacity="0.01"/>
                <path d="M7.94977 11.9498H39.9498" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.94977 23.9498H39.9498" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.94977 35.9498H39.9498" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg></label>
        
      
            <ul class="menu__list--main">
              <li class="menu__item--main"><a class="menu__link--main" href="/">Work</a></li>
              <li class="menu__item--main"><a class="menu__link--main" href="/about/">About</a></li>
              <li class="menu__item--main"><a class="menu__link--main" href="/contact/">Contact</a></li>
            </ul>

        </nav>

    </div>
      <!-- <hr> -->



  </section>

  <!--
  <section class="menu">
      <nav class="menu--main">

        <ul class="menu__list--main">
          <button class="button__menu--main"><li class="menu__item--main"><a href="/">Work</a></li></button>
          <button class="button__menu--main"><li class="menu__item--main"><a href="/about/">About</a></li></button>
          <button class="button__menu--main"><li class="menu__item--main"><a href="/contact/">Contact</a></li></button>
        </ul>
      </nav>
  </section> -->
    
</header>

<main class="main">

{{content|safe}}

</main>



<footer class="footer">

    <section class="footer__back-to-top" data-hover-hint="backToTop">
      <a href="#" style="text-decoration:none; color:#111111"><span class="preserve-whitespace">↑ Back to Top</span></a>
    </section>    

    <section class="footer__social">
      <div class="footer__fa-facebook">
        <a href="https://www.facebook.com/paulina.brizekova" class="fa fa-facebook"></a>
      </div>
      <div class="footer__fa-facebook">
        <a href="https://www.instagram.com/paulinesky_pics/" class="fa fa-instagram"></a>
      </div>
      <div class="footer__fa-instagram">
        <a href="mailto:paulina.skytova@gmail.com" class="fa fa-envelope"></a>
      </div>  
    </section>


    <p class="footer__copy">&copy; Mariana Sarovic, Czechitas</p>

  </footer>

<script src="fslightbox.js"></script>
<script src="/js/fslightbox.js"></script>
</body>
</html>